[submodule "Wx"]
	path = Wx
	url = https://github.com/jambolo/Wx.git
[submodule "Misc"]
	path = Misc
	url = https://github.com/jambolo/Misc.git
[submodule "Dxx"]
	path = Dxx
	url = https://github.com/jambolo/Dxx.git
[submodule "Time"]
	path = Time
	url = https://github.com/jambolo/Time.git
[submodule "MyMath"]
	path = MyMath
	url = https://github.com/jambolo/MyMath.git
