[submodule "Wx"]
	path = Wx
	url = https://github.com/jambolo/Wx.git
[submodule "Dxx"]
	path = Dxx
	url = https://github.com/jambolo/Dxx.git
[submodule "MyMath"]
	path = MyMath
	url = https://github.com/jambolo/MyMath.git
[submodule "Vkx"]
	path = Vkx
	url = https://github.com/jambolo/Vkx.git
